body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    margin: 0;
    padding: 0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

iframe, audio {
    margin-top: 20px;
    width: 80%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: none;
}
.app-icon {
    width: 120px;
    height: 120px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
